.header {
  background: var(--gray-800);
  height: 80px;
  display: flex;
  justify-content: center;
  padding: 1.25rem 0;
  font-size: 1.55rem;
}

.header img {
  padding-bottom: 0.1rem;
  height: 3rem;
  padding-right: 1rem;
}
