.comment {
  margin-top: 1.5rem;
  display: flex;
  gap: 1rem;
}

/* ">" Selecionando a primeira imagin em Comment.jsx */
.comment > img {
  width: 3rem;
  height: 3rem;
  border-radius: 8px;
}

/* Aqui esta fazendo que a div perto do avatar pega todas as informacoes
e ocupa o maximo de espaco possivel */
.commentBox {
  flex: 1;
}

.commentContent {
  background: var(--gray-700);
  border-radius: 8px;
  padding: 1rem;
}

.commentContent header {
  display: flex;
  align-items: flex-start;
  
  /* flex-start esta ajudando com o bottom nao ficar no centro junto 
  com o avatar + name etc... */

  justify-content: space-between;
}

/* Os dois debaixo é o tempo que o comment foi publicado */
.authorAndTime strong {
  display: block;
  font-size: 0.875rem;
  line-height: 1.6;
}

.authorAndTime time {
  display: block;
  font-size: 0.75rem;
  line-height: 1.6;
  color: var(--gray-400);
}

.commentContent header button {
  background: transparent;
  border: 0;
  color: var(--gray-400);
  cursor: pointer;
  line-height: 0;

  /* Lembrando que a altura de bottom não é definida pelo
  o conteudo do bottom. O icon pode ate fazer o button crecer
  mais como que o icon não esta ocupando altura suficiente
  o bottom sempre segue a altura dele pelo Line-Height. 
  */

  border-radius: 2px;
}

.commentContent header button:hover {
  color: var(--red-500);
}

.commentContent p {
  margin-top: 1rem;
  color: var(--gray-300);
}

.commentBox footer {
  margin-top: 1rem;
}

.commentBox footer button {
  background: transparent;
  border: 0;
  color: var(--gray-400);
  cursor: pointer;
  display: flex;
  align-items: center;

  border-radius: 2px;
}

.commentBox footer button:hover {
  color: var(--green-300);
}

.commentBox footer button svg {
  margin-right: 0.5rem;
}

.commentBox footer button span::before {
  /* The content is the  little circle and the ::before is an element  
  that we can create inside of the span & style it */
  content: "\2022";
  padding: 0 0.25rem;
}
