.avatar {
  /* this is one method of fixing the avatar
     box-sizing: initial;
    width: 3rem;
    height: 3rem; 
    below is the second method by calculating manually,
    the 12 comes from the:  
    border -> 4+4 = 8
    outline -> 2+2 = 4
    8+4 = 12 total */
  width: 3rem;
  height: 3rem;
  border-radius: 8px;
}

.avatarWithBorder {
  width: calc(3rem + 12px);
  height: calc(3rem + 12px);
  border-radius: 8px;
  border: 4px solid var(--gray-800);
  outline: 2px solid var(--green-500);
}
